	body{
		background-color:black;
	}
	p{
		color:green;
	}
	img{
		height:150px;
		width:150px;
	}
	#image2{
		height:150px;
		width:150px;
	}
	.image3{
		height:100px;
		width:100px;
	}